* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #7EC6BA;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .1rem;
}

.container {
  display: flex;
  justify-content: space-around;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

/* Nav Bar */
nav {
  color: white;
  font-family: "Cutive Mono";
  width: 100vw;
  position: fixed;
}
.container li {
  list-style-type: none;
  padding: 20px;
}

/* Start screen banner */
