*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #7EC6BA;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .1rem;
}

section {
  z-index: 1;
}

.section-heading {
  width: 100vw;
  text-align: center;
  font-family: 'Lato', sans-serif;;
  font-size: 3rem;
}

.text {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5rem;
  padding-bottom: 3rem;
  font-size: 1.25rem;
}

.text-left {
  width: 70vw;
  margin: 0 auto;
  text-align: left;
  line-height: 2rem;
  padding: 3rem;
  font-size: 1.25rem;
}

.flex {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.highlight {
  color: #FECFB0;
}

.button {
  font-size: 1.25rem;
  border: 2px solid white;
  margin: 20px auto;
  padding: 10px;
  width: 200px;
  text-align: center;
  transition: all .5s;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}

.photo-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}


/* KeyFrames */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Landing Screen */
.canvas {
  width: 100vw;
  height: 100vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  color: white;
}
  .canvas-header {
    position: relative;
    top: 20vh;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
  }
  .canvas h1 {
    font-size: 2.25rem;
  }
  .canvas h4 {
    font-size: 1rem;
    margin: auto;
    margin-top: 1rem;
    width: 70vw;
  }
  .canvas p {
    font-size: 1.25rem;
    margin-top: 1rem;
    background-color: transparent;
  }


/* Changes the canvas header to view better on different screen heights */ 
@media only screen and (min-height: 600px) {
  .canvas-header {
    line-height: 3rem;
  }
  .canvas h4 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-height: 800px) {
  .canvas-header * {
    line-height: 4rem;
  }
}
@media only screen and (min-height: 1000px) {
  .canvas-header {
    top: 30vh;
  }
}
@media only screen and (min-height: 1300px) {
  .canvas h1 {
    font-size: 5rem;
  }
  .canvas h4 {
    font-size: 3rem;
  }
  .canvas p {
    font-size: 2rem;
    width: fit-content;
    margin: 20px auto;
  }
  .canvas-header * {
    margin-bottom: 20px;
  }
}

@media (hover: hover) {
  .fa-arrow-right {
    transition: transform .3s;
  }
  .button:hover .fa-arrow-right {
    transform: rotate(90deg);
  }
  .button:hover {
    background-color: #FECFB0;
    border-color: #FECFB0;
  }
}

/* Navigation Bar */

/*Placeholder for nav appearing undercanvas */
.nav-placeholder {
  height: 58px;
  background-color: #7EC6BA;
}

header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100vw;
  z-index: 5;
  background-color: #7EC6BA;
  color: white;
  position: relative;
  top: -2px;
  transition: all 1s ease;
}
header.display {
  position: fixed;
  top: 0;
}
header h1 {
  width: fit-content;
  height: fit-content;
  margin: 10px auto auto 10px;
  opacity: 1;
}
.header-hide {
  opacity: 0;
  transition: all 1s ease;
}
.header-show {
  opacity: 1;
  transition: all 1s ease;
}

/* Styling Nav Ul  */

.nav-ul {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 4rem;
  background-color: #7EC6BA;
  opacity: 0;
  transform: scale(0,1);
}

.nav-li {
  height: 60px;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.nav-ul .nav-li::after {
  content: "";
  width: 100%;
  height: 20px;
  margin: 0 auto;
  display: block;
  position: relative;
  border-bottom: 1px white solid;
  transform: scale(0,1);
  opacity: 0;
}

.active {
  color: #FECFB0;
}

/* Nav Ul animation classes */ 
.nav-open.nav-ul {
  display: block;
  animation: menuAnimation 1s ease forwards;
}

.nav-ul .nav-open.nav-li::after {
  animation: liAfter .5s ease 1s forwards;
}
@keyframes liAfter {
  0% {
    opacity: 0;
    transform: scale(0,1)
  }
  100% {
    opacity: 1;
    transform: scale(1,1)
  }
}


@keyframes menuAnimation {
  0% {
    opacity: 0;
    transform: scale(0,1);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1,1);
  }
}

/* Burger Styles */
.burger {
  width: 40px;
  height: 2px;
  position: fixed;
  margin: 8px;
  cursor: pointer;
  background-color: white;
  z-index: 2;
  border-radius: 5px;
  outline: none;
  top: 20px;
  right: 10px;
}

.burger::before {
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    display: block;
    top: -12px;
}

.burger::after {
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    display: block;
    top: 10px;
}
/* Burger Open Classes */
.nav-open.burger::before{
  animation: lineBeforeAnim 1s ease forwards;
}
.nav-open.burger::after {
  animation: lineAfterAnim 1s ease forwards;
}
.nav-open.burger {
  animation: burgerDivAnim 1s ease forwards;
}

/* Burger Animation Keyframes */
@keyframes burgerDivAnim {
  0% {
    top: 20px;
  }
  50% {
    top: 20px;
    transform: rotate(0);
  }
  100% {
    top: 20px;
    transform: rotate(45deg);
  }
}
@keyframes lineBeforeAnim {
  0% {
    top: -15px;
    opacity: 1;
  }
  30% {
    top: 0px;
    opacity: 1;
  }
  50% {
    opacity: 0;
    top: 0px;
    transform: rotate(0);
  }
  100% {
    opacity: 0;
    top: 0px;
    transform: rotate(45deg);
  }
}
@keyframes lineAfterAnim {
  0% {
    top: 12px;
  }
  30% {
    top: -2px;
  }
  50% {
    top: -2px;
    transform: rotate(0);
  }
  100% {
    top: -2px;
    transform: rotate(90deg);
  }
}
/* End of Burger */

/* Media query for desktop */
@media only screen and (min-width: 900px) {
  .burger {
    display: none;
  }
  .nav-ul {
    position: relative;
    display: flex;
    height: 60px;
    width: fit-content;
    opacity: 1;
    transform: scale(1,1);
    top: 0;
    padding: 0;
  }
  .nav-ul .nav-li {
    padding: 20px;
    height: 60px;
    text-align: center;
    margin: auto;
  }
  .nav-li {
    transition: all 1s ease;
    opacity: 1;
  }
  .nav-li-hide {
    opacity: 0;
  }
}


/* Section Breaks */
/* Slanted Divs for skill section */


/* Skills Section */
#skills {
  background-color: #FECFB0;
  color: #626262;
  padding: 100px 0;
}


 #projects, #about {
  background-color: white;
  color: #626262;
  width: 100%;
  padding: 100px 0;
}


/* About Section */

.mobile-view {
  box-sizing: border-box;
  width: 90vw;
  margin: 15px auto;
  background: hsla(168, 5%, 75%, .1);
  border-radius: 25px;
  padding: 15px;
}
.about-photo-div {
  width: 85vw;
  margin: 15px auto;
  border-radius: 10px;
}

.about-photo {
  width: 85vw;
  margin: 15px auto;
  border-radius: 10px;
}


@media only screen and (min-width: 700px) {
  .text-col-a {
    position: relative;
    margin: 30px;
    left: 5vw;
    width: 60vw;
    padding: 60px;
    height: auto;
    line-height: 2rem;
    font-size: 1.25rem;
    text-align: left;
    background: hsla(168, 5%, 75%, .15);
    border-radius: 25px;
    z-index: 10;
  }
  .text-col-b {
    position: relative;
    margin: 30px;
    left: 5vw;
    width: 60vw;
    padding: 60px;
    height: auto;
    line-height: 2rem;
    font-size: 1.25rem;
    text-align: left;
    background: hsla(168, 5%, 75%, .15);
    border-radius: 25px;
    z-index: 10;
  }
  .about-photo-div {
    margin: 10px;
    width: 55vw;
    position: relative;
    left: 38vw;
    z-index: 0;
  }
  
  .about-photo {
    margin: 10px;
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}

/* Skills Section */
.small-list {
  font-size: 1rem;
  padding: 1.5rem;
}


/* Projects Section */
.projects-div {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}

.projects-div h1 {
  text-align: center;
  padding: .5rem;
  margin-top: .75rem;
  font-weight: 700;
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  padding-bottom: 1.5rem;
}

.project-info {
  box-sizing: border-box;
  padding: .5rem 0;
  margin: 1.5rem 0;
}

/* Project Pictures & overlay */
.project-pic-div {
  width: 300px;
  height: 300px;
  position: relative;
}

.project-video-div {
  width: 300px;
  height: 200px;
  position: relative;
}

.project-image {
  width: 100%;
  height: 100%;
}

.project-overlay {
  transition: all .5s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-button {
  opacity: 0;
  transition: all .5s ease-in-out;
  box-sizing: border-box;
  width: 75px;
  height: auto;
  margin: .5rem;
  padding: .85rem;
  cursor: pointer;
  outline: none;
  background-color: #7EC6BA;
  color: white;
  border: 2px solid white;
}

.project-overlay:hover {
  opacity: .9;
}

.project-overlay:hover .project-button {
  opacity: 1;
}

.project-button:hover {
  background-color: #FECFB0;
  border-color: #FECFB0;
}

@media screen and (min-width: 900px) {
  .project-info {
    width: 50vw;
    padding: 1rem
  }
}

/* Footer/ Social Media Links */
footer {
  padding-bottom: 8rem;
  color: white;
}

footer h3 {
  text-align: center;
  line-height: 2.5rem;
}

.socialmedia-container {
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.socialmedia {
  width: 60px;
}
